/**
 * Swiper 组件样式
 * 全局样式已移至 global-components.css
 * 本文件仅保留组件特定的局部样式（如果有的话）
 */

/* 
  注意：Swiper 组件的所有样式都是全局样式（由 JS 动态生成的类名）
  已全部迁移到 global-components.css 文件中统一管理
  
  相关全局类名：
  - .tn-swiper-tabs
  - .tn-tab
  - .tn-tab-nav
  - .tn-tab-prev / .tn-tab-next
  - .tab-tab-line
  - .swiper-container
  - .tn-swiper
  - .swiper-slide
*/
