/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
}

/* hide default last updated */
.last-updated {
  display: none;
}

a {
  text-decoration: none !important;
}

/* !!! 修复 Discussions 两个主题 noborder light、noborder dark 的边框渲染不完整的问题 */
.VPDoc.has-aside .content-container {
  padding: 0 2px !important;
  max-width: var(--tn-content-width, 688px) !important;
}

/* !!! markdown-it-task-lists css enhancement */
/* 移除任务列表项前面的点 */
ul > li.task-list-item {
  list-style-type: none;
}

/* 确保任务列表项的内边距和缩进正常 */
ul > li.task-list-item {
  padding-left: 0;
  margin-left: 0;
}

/* 保持任务列表项的子元素正常缩进 */
ul > li.task-list-item > ul {
  padding-left: 3rem;
}

/* sidebar toggle */
/* 仅隐藏 sidebar，不动 --vp-sidebar-width */
.hide-sidebar .VPSidebar {
  transform: translateX(-100%);
  /*   opacity: 0; */
  pointer-events: none;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.hide-sidebar .VPNavBar {
  background-color: var(--vp-nav-bg-color) !important;
}

/* 主体内容往左补齐，与导航栏标题左对齐 */
.hide-sidebar .VPContent {
  margin-left: 0 !important;
  padding-left: calc(
    (100vw - var(--vp-layout-max-width)) / 2
  ) !important; /* 与导航栏标题左边距对齐 */
}
.hide-sidebar .VPDoc .content-container {
  max-width: calc(
    var(--vp-sidebar-width) + var(--tn-content-width, 688px) +
      var(--vp-sidebar-width)
  ) !important;
}

/* content fullscreen toggle */
/* 全屏显示内容区时的样式 */
.content-fullscreen .VPSidebar,
.content-fullscreen .VPNav,
.content-fullscreen .VPDocFooter {
  display: none !important;
}

.content-fullscreen .VPContent {
  margin: 0 !important;
  padding: 0 2rem !important; /* 你想要的内边距 */
  max-width: 100% !important;
}

.content-fullscreen .VPNavBar {
  display: none !important; /* 如果也想隐藏顶部导航栏可以加上 */
}

/* body 拉伸到全屏 */
.content-fullscreen body {
  overflow: auto;
}

/* 全屏模式下不限制最大宽度 */
.content-fullscreen .VPDoc .content-container {
  max-width: none !important;
}
